/* Start of Tablet */

@media screen and (min-width: 768px) {

   /* -- t1. Start Main Nav --*/

   #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #fff;
      border-bottom: solid 1px #c3c3c3;
      z-index: 1;
   }

   #main-nav {
      margin-top: 4%;
      position: relative;
   }

   .burger-con {
      width: 90px;
      height: 90px;
      background: url(../images/burger.svg) no-repeat center;
      margin-left: 25px;
      transition: all .5s ease;
      border: 0;
      cursor: pointer;
      filter: drop-shadow(-5px 3px 6px rgba(0, 0, 0, 0.4));
}

.burger-con.slide-toggle {
   display: block;
}

   #logo {
      margin-top: 32px;
      margin-bottom: 0px;
      margin-left: 160px;
   }



   /* -- t2. Start Hero Main -- */



   #hero-main {
      height: 455px;
      object-position: 30%;
   }

   .hero-img-h2, .hero-img-h3 {
      padding: 30px 15px;
      font-size: 18px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 14px;
   }

   .fas {
      font-size: 60px;
   }

   #contact {
      line-height: 22px;
      height: 180px;
      padding-top: 60px;
      font-size: 18px;
   }

   #contact a {
      text-decoration: none;
   }

   #contact .grid-con > div {
      width: auto;
      margin: 0px;
   }


   /* -- About Us -- */

   #about-hero {
      height: 240px;
   }

   #about-us-text {
      column-count: 2;
   }
   
   #about-us-text-column1 {
      margin-bottom: 80px;
   }
   

   /* -- FAQ -- */

   #faq-text-con {
      column-count: 2;
      text-align: left;
   }


   /* -- Contact -- */

   #contact-hero {
      height: 240px;
   }

   #contact-hero-text {
      padding-top: 50px;
      margin-top: 20px;
   }

   /* -- Footer -- */

   #footer-nav {
      display: block;
   }

   #footer-buy-now {
      display: flex;
      height: 80px;
      margin-top: 40px;
   }


   @media screen and (min-resolution: 200dpi),
   screen and (min-resolution: 1.25dppx) {

   }

   #footer-nav {
      margin-top: 40px;
      column-count: 2;
   }

   #footer-nav ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
   }

   #footer-nav ul li a {
      color: #fff;
   }

   #footer-nav ul li {
      margin-bottom: 20px;
   }

}

/* Start of Desktop */

@media screen and (min-width: 1200px) {

   /* -- Header -- */

   #main-header {
      height: 150px;
      width: 100%;
   }

   /* -- Nav -- */

   #main-nav {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 2%;
   }

   .burger-con {
      display: none;
   }

   .buy-now {
      font-size: 18px;
      display: contents;
   }

   .buy-now {
   background-color: #d14e16;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   display:contents;
   align-items: center;
   text-align: center;
   transition: all 0.3s ease-in-out;
   padding: 0px 20px;
}

   .buy-now:hover {
      box-shadow: inset 0px -180px 0px #ff7929;
   }

   #buy-now-hero {
      height: fit-content;
   }

   /* -- Hero Section -- */

   #booking-calendar {
      height: 234px;
   }

   #check-availability {
      margin-top: 10px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 16px;
   }

   #hero-main {
      object-position: 15%;
   }


   /* -- Quick Contact -- */

   .fas {
      font-size: 90px;
   }

   .fa-mobile-alt, .fa-map-marker-alt {
      margin-right: 40px;
   }


   /* -- Why Choose Us -- */

   #why-choose-us-hero {
      height: 380px;
   }

   #spa p {
      display: block;
      -line-clamp: unset;
      -webkit-box-orient: unset;
      text-overflow: unset;
      overflow: auto;
   }

   #why-choose-us-nav {
      margin-top: 50px;
      font-size: 24px;
   }


   /* -- About Us -- */

   #about-hero {
      height: 380px;
   }


   /* -- Contact Us -- */

   #contact-hero {
      height: 380px;
   }
   


   form {
   max-width: 300px;
   margin: 0 auto;
   font-size: 20px;
   }

   label {
   display: block;
   margin-top: 10px;
   }

   input, textarea, button {
   padding: 12px;
   margin-top: 5px;
   }

   button {
   background-color: #007BFF;
   color: white;
   border: none;
   cursor: pointer;
   margin-top: 10px;
   }

   button:hover {
   background-color: #0056b3;
   }

}





/* emoji animation */

#sour #face { 
    transition: all 0.5s ease; 
    /* ensures the transform origin is calculated relative to the element’s bounding box */
    transform-box: fill-box;
    /* tells it to rotate around its own center. */
    transform-origin: center bottom;
}

#sour:hover #face { 
    animation: shiver 0.5s ease-in-out;
}

@keyframes shiver {
    0%  { transform: rotate(0deg) scale(1); }
    20% { transform: rotate(3deg) scale(0.9); }
    30% { transform: rotate(6deg) scale(0.9); }
    40% { transform: rotate(-3deg) scale(0.9); }
    50% { transform: rotate(-6deg) scale(0.9); }
    60% { transform: rotate(3deg) scale(0.9); }
    70% { transform: rotate(6deg) scale(0.9); }
    80% { transform: rotate(3deg) scale(0.9); }
    100% { transform: rotate(0deg) scale(1); }
}

#laugh:hover #hand {
    animation: giggle 0.5s ease-in-out;
    transform-origin: center bottom;
}

@keyframes giggle {
    0%  { transform: scale(1); }
    30% { transform: scale(0.8); }
    60% { transform: scale(0.9); }
    90% { transform: scale(0.8); }
    100% { transform: scale(1); }
}


#shake:hover { 
    transition: all 0.5s ease; 
    transform-origin: center;
    transform: rotate(360deg); 
}

#stunned:hover .left-eye { 
    animation: shine 0.5s ease-in-out;
    transform-origin: center;
}

#stunned:hover .right-eye { 
    animation: shine 0.5s ease-in-out;
    transform-origin: center;
}

@keyframes shine {
    0%  { transform: scale(1); }
    30% { transform: scale(1.1); }
    60% { transform: scale(1.2); }
    90% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#sus:hover .left-brow{
    animation: raise 0.5s ease-in-out;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes raise {
    0%  { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

#sus:hover .right-brow{
    animation: lower 0.5s ease-in-out;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes lower {
    0%  { transform: scale(1); }
    50% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

#sus:hover .mouth {
    animation: tilt 0.5s ease-in-out;
    transform-box: fill-box;
    transform-origin: center;
}

@keyframes tilt {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}


#sweat:hover #drop {
    animation: drip 0.5s ease-in-out;
    transform-origin: center;
}

@keyframes drip {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(50deg); }
    100% { transform: rotate(0deg); }
}
