
/*
Billy Beer Responsive Build
4 column grid as per figma file
 */

/*
    CSS Guide

    1. General Styles
    2. General Header
    3. General Footer

    Mobile
    4. Hamburger Nav
    5. Main Hero Image
    6. Main Hero Image Contact
    7. About & FAQ
    8. Main Footer
    9. Contact Form
 */

 /* Billy Beer Colour Guide
   #9B550A
   #BD5211
   #FF7929
   #FFE5D7
   #0b4e00
   #43a000
 */


 /* ---General Styles--- */

#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
}

body {
   color: #FFE5D7;
   font-family: 'Verdana', 'Marion', sans-serif;
}


a {
   text-decoration: none;
   transition: all .5s ease-in-out;
}

h3 {
   color: #FF7929;
   font-size: 40px;
   margin-top: 1px;
   margin-bottom: 12px;
   margin-left: 13px;
}

input, textarea {
   display: block;
   margin: 0;
   padding: 0;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon-container div {
    width: 300px;
}


/* ---General Header--- */

header {
   margin: 0;
   height: fit-content;
   background: linear-gradient(to right, #0b4e00, #43a000);
}

header button {
   background: linear-gradient(to right, #BD5211, #FF7929);
}


/* ---General Body--- */


.full-width-grid-con + .hero {
   margin-bottom: 60px;
}


/* ---Hamburger Nav--- */

.burger-con {
   width: 55px;
   height: 55px;
   margin-left: 13%;
   margin-top: 28px;
   background: url(../images/burger.svg) no-repeat center;
   border: 0;
   cursor: pointer;
   filter: drop-shadow(-5px 3px 6px rgba(0, 0, 0, 0.4));
}

#logo {
   width: 300px;
   margin: 20px 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#buy-now-header {
   display: none;
}


/* ---Main Hero--- */


.hero img {
   grid-column: 1/-1;
   grid-row: 1/1;
   justify-self: center;
   margin-bottom: 25px;
}

.hero-main {
   height: 220px;
   object-fit: cover;
}

.hero .grid-con {
   grid-column: 2/3;
   grid-row:1/1;
   margin: 0;
}

.hero-img-h3 {
   background: linear-gradient(to right, #BD5211, #FF7929);
   padding: 15px 0px;
   font-size: 25px;
   text-align: center;
   border-radius: 40px;
   border: solid 7px #9B550A;
}

.hero-img-h3 a {
   text-decoration: none;
   color: white;
   padding: 15px;
}


.hero-heading-box {
   align-self: end;
}

.line-separator {
   margin-top: 20px;
   border-top: solid 3px #FF7929;
   padding-top: 20px;
}


/* ---Reward Section--- */

#reward {
   background-color: #FFCDB2;
   color: #FF7929;
   text-align: center;
}

#reward h2 {
   margin-top: 10px;
   margin-bottom: 50px;
   font-size: 30px;
}

#reward p {
   margin-top: 10px;
   margin-bottom: 30px;
   font-size: 27px;
}

#reward #badges {
   gap: 20px;
}

 #badges img {
   vertical-align: middle;
   width: 120px;
   padding: 0px 10px;
   margin-bottom: 30px;
}

#reward #app-stores {
   gap: 10px;
}

 #app-stores img {
   vertical-align: middle;
   width: 180px;
   padding: 0px 10px;
   margin-bottom: 30px;
}

#promo-button {
   background: linear-gradient(to right, #BD5211, #FF7929);
   color: #fff;
   padding: 20px 30px;
   margin-bottom: 50px;
   font-size: 20px;
   text-align: center;
   border-radius: 40px;
   border: solid 7px #9B550A;
}


/* ---Socials--- */

#socials {
   margin: 60px 0px;
}

#socials h2 {
   color: #FF7929;
   text-align: center;
   font-size: 30px;
   margin-bottom: 35px;
}

#socials img {
   vertical-align: middle;
}



/* ---General Footer--- */

footer {
   background-color: rgba(0, 0, 0, 0.6);
   background-image: repeating-linear-gradient(90deg, rgb(255, 0, 0) 0px, rgba(216, 65, 65, 0.547) 10px,transparent 10px, transparent 20px),repeating-linear-gradient(0deg, rgba(255, 0, 0, 0.882) 0px, rgba(190, 54, 54, 0.502) 10px,transparent 10px, transparent 20px);
   background-blend-mode: darken;
}

#footer-hero {
   color: #fff;
   font-size: 16px;
   margin-top: 0px;
   padding-bottom: 40px;
   align-content: center;
}

#footer-logo {
   width: 200px;
   padding: 10px;
}

#footer-privacy .line-separator {
   margin-top: 0px;
}

#footer-contact-info p {
   margin-bottom: 20px;
   line-height: 18px;
}

#footer-nav, #footer-buy-now {
   display: none;
}

#privacy-policy {
   text-align: center;
   font-size: 14px;
}



/* Start of Tablet */

@media screen and (min-width: 768px) {

   /* -- t1. Start Main Nav --*/

   #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #fff;
      border-bottom: solid 1px #c3c3c3;
      z-index: 1;
   }

   #main-nav {
      margin-top: 4%;
      position: relative;
   }

   .burger-con {
      width: 90px;
      height: 90px;
      background: url(../images/burger.svg) no-repeat center;
      margin-left: 25px;
      transition: all .5s ease;
      border: 0;
      cursor: pointer;
      filter: drop-shadow(-5px 3px 6px rgba(0, 0, 0, 0.4));
}

.burger-con.slide-toggle {
   display: block;
}

   #logo {
      margin-top: 32px;
      margin-bottom: 0px;
      margin-left: 160px;
   }



   /* -- t2. Start Hero Main -- */



   #hero-main {
      height: 455px;
      object-position: 30%;
   }

   .hero-img-h2, .hero-img-h3 {
      padding: 30px 15px;
      font-size: 18px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 14px;
   }

   .fas {
      font-size: 60px;
   }

   #contact {
      line-height: 22px;
      height: 180px;
      padding-top: 60px;
      font-size: 18px;
   }

   #contact a {
      text-decoration: none;
   }

   #contact .grid-con > div {
      width: auto;
      margin: 0px;
   }


   /* -- About Us -- */

   #about-hero {
      height: 240px;
   }

   #about-us-text {
      column-count: 2;
   }
   
   #about-us-text-column1 {
      margin-bottom: 80px;
   }
   

   /* -- FAQ -- */

   #faq-text-con {
      column-count: 2;
      text-align: left;
   }


   /* -- Contact -- */

   #contact-hero {
      height: 240px;
   }

   #contact-hero-text {
      padding-top: 50px;
      margin-top: 20px;
   }

   /* -- Footer -- */

   #footer-nav {
      display: block;
   }

   #footer-buy-now {
      display: flex;
      height: 80px;
      margin-top: 40px;
   }


   @media screen and (min-resolution: 200dpi),
   screen and (min-resolution: 1.25dppx) {

   }

   #footer-nav {
      margin-top: 40px;
      column-count: 2;
   }

   #footer-nav ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
   }

   #footer-nav ul li a {
      color: #fff;
   }

   #footer-nav ul li {
      margin-bottom: 20px;
   }

}

/* Start of Desktop */

@media screen and (min-width: 1200px) {

   /* -- Header -- */

   #main-header {
      height: 150px;
      width: 100%;
   }

   /* -- Nav -- */

   #main-nav {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 2%;
   }

   .burger-con {
      display: none;
   }

   .buy-now {
      font-size: 18px;
      display: contents;
   }

   .buy-now {
   background-color: #d14e16;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   display:contents;
   align-items: center;
   text-align: center;
   transition: all 0.3s ease-in-out;
   padding: 0px 20px;
}

   .buy-now:hover {
      box-shadow: inset 0px -180px 0px #ff7929;
   }

   #buy-now-hero {
      height: fit-content;
   }

   /* -- Hero Section -- */

   #booking-calendar {
      height: 234px;
   }

   #check-availability {
      margin-top: 10px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2, .hero-img-h3 {
      font-size: 24px;
   }

   .hero-img-h2 span, .hero-img-h3 span {
      font-size: 16px;
   }

   #hero-main {
      object-position: 15%;
   }


   /* -- Quick Contact -- */

   .fas {
      font-size: 90px;
   }

   .fa-mobile-alt, .fa-map-marker-alt {
      margin-right: 40px;
   }


   /* -- Why Choose Us -- */

   #why-choose-us-hero {
      height: 380px;
   }

   #spa p {
      display: block;
      -line-clamp: unset;
      -webkit-box-orient: unset;
      text-overflow: unset;
      overflow: auto;
   }

   #why-choose-us-nav {
      margin-top: 50px;
      font-size: 24px;
   }


   /* -- About Us -- */

   #about-hero {
      height: 380px;
   }


   /* -- Contact Us -- */

   #contact-hero {
      height: 380px;
   }
   


   form {
   max-width: 300px;
   margin: 0 auto;
   font-size: 20px;
   }

   label {
   display: block;
   margin-top: 10px;
   }

   input, textarea, button {
   padding: 12px;
   margin-top: 5px;
   }

   button {
   background-color: #007BFF;
   color: white;
   border: none;
   cursor: pointer;
   margin-top: 10px;
   }

   button:hover {
   background-color: #0056b3;
   }

}





/* emoji animation */

#sour #face { 
    transition: all 0.5s ease; 
    /* ensures the transform origin is calculated relative to the element’s bounding box */
    transform-box: fill-box;
    /* tells it to rotate around its own center. */
    transform-origin: center bottom;
}

#sour:hover #face { 
    animation: shiver 0.5s ease-in-out;
}

@keyframes shiver {
    0%  { transform: rotate(0deg) scale(1); }
    20% { transform: rotate(3deg) scale(0.9); }
    30% { transform: rotate(6deg) scale(0.9); }
    40% { transform: rotate(-3deg) scale(0.9); }
    50% { transform: rotate(-6deg) scale(0.9); }
    60% { transform: rotate(3deg) scale(0.9); }
    70% { transform: rotate(6deg) scale(0.9); }
    80% { transform: rotate(3deg) scale(0.9); }
    100% { transform: rotate(0deg) scale(1); }
}

#laugh:hover #hand {
    animation: giggle 0.5s ease-in-out;
    transform-origin: center bottom;
}

@keyframes giggle {
    0%  { transform: scale(1); }
    30% { transform: scale(0.8); }
    60% { transform: scale(0.9); }
    90% { transform: scale(0.8); }
    100% { transform: scale(1); }
}


#shake:hover { 
    transition: all 0.5s ease; 
    transform-origin: center;
    transform: rotate(360deg); 
}

#stunned:hover .left-eye { 
    animation: shine 0.5s ease-in-out;
    transform-origin: center;
}

#stunned:hover .right-eye { 
    animation: shine 0.5s ease-in-out;
    transform-origin: center;
}

@keyframes shine {
    0%  { transform: scale(1); }
    30% { transform: scale(1.1); }
    60% { transform: scale(1.2); }
    90% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

#sus:hover .left-brow{
    animation: raise 0.5s ease-in-out;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes raise {
    0%  { transform: scale(1); }
    50% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

#sus:hover .right-brow{
    animation: lower 0.5s ease-in-out;
    transform-box: fill-box;
    transform-origin: bottom;
}

@keyframes lower {
    0%  { transform: scale(1); }
    50% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

#sus:hover .mouth {
    animation: tilt 0.5s ease-in-out;
    transform-box: fill-box;
    transform-origin: center;
}

@keyframes tilt {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(5deg); }
    100% { transform: rotate(0deg); }
}


#sweat:hover #drop {
    animation: drip 0.5s ease-in-out;
    transform-origin: center;
}

@keyframes drip {
    0%  { transform: rotate(0deg); }
    50% { transform: rotate(50deg); }
    100% { transform: rotate(0deg); }
}
